body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.page {
  display: flex;
}

.controlPanel {
  flex-basis: 200px;
}

.mapWrapper {
  flex-grow: 1;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 4px;
  margin-bottom: 8px;
}

.loadingIndicator {
  color: orange;
}

input {
  width: 120px;
}
